body {
    background: #000;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
}

#info {
    background: #333;
    position: absolute;
    top: 0px;
    color: #ffffff;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    z-index: 1000;
}

#weather-values {
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    top: 50px;
    width: 200px;
    color: #ffffff;
    padding-left: 10px;
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    z-index: 1000;
    font-weight: normal;
    font-style: normal;
}

#copyright {
    background: #333;
    position: absolute;
    bottom: 0px;
    width: 100px;
    color: #ffffff;
    padding: 5px;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    z-index: 1000;
    font-weight: normal;
    font-style: normal;
}

a {
    color: #ffffff;
}